/* 第一層顏色循環 */
.color-0 {
    border-color: #f87171;
    color: #1a1a1a;
}

/* 紅 */
.color-1 {
    border-color: #fbbf24;
    color: #1a1a1a;
}

/* 橘 */
.color-2 {
    border-color: #4ade80;
    color: #1a1a1a;
}

/* 綠 */
.color-3 {
    border-color: #60a5fa;
    color: #1a1a1a;
}

/* 藍 */
.color-4 {
    border-color: #a78bfa;
    color: #1a1a1a;
}

/* 紫 */
.color-5 {
    border-color: #f472b6;
    color: #1a1a1a;
}