@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #1a1a1a;
    color: white;
    /* overflow-x: hidden; */
    overflow: auto;
}